.preloader {
  @extend %cover;

  display: flex;
  align-items: center;
  justify-content: center;

  color: $color-primary;

  z-index: 20;
}

// .preloader__title {
//   @extend %font-xx-large;
//   color: currentColor;
// }

.preloader__number {
  @extend %font-xx-large;
}
