$color-primary: #333233;
$color-secondary: #C0B7AE;
$color-accent: #8E8DBE;

$color-text: #C2C1C3;
$color-text-secondary: #797879;

$font-title: 'Wremena';
$font-content: 'Suiss BP', sans-serif;

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
