$color-primary: #FFFFFF;
$color-secondary: #010001;
$color-accent-1: #00CB97;
$color-accent-2: #cadc3c;
$color-accent-3: #FF5A21;

$color-text: #010001;

$font-title: Helvetica;
$font-content: sans-serif;

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$navigation-padding: calc(100vh / 8);

@media only screen and (max-width: $bp__phone) {
  $navigation-padding: 10vh;
}
