block variables

doctype html
html(data-device=device lang="en")
  head
    meta(charset="UTF-8")
    meta(description="Desription of content of this website")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    base(href="/")
    title Album

    link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
    link(rel="manifest" href="/site.webmanifest")
    link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5")
    link(name="msapplication-TileColor" content="#da532c")
    link(name="theme-color" content="#333233")

    //- Facebook Open Graph Meta Data
    //- meta(property="og:url" content="")
    //- meta(property="og:type" content="website")
    //- meta(property="og:title" content="")
    //- meta(property="og:description" content="")
    //- meta(property="og:image" content="")

    //- //- Twitter Meta Data
    //- meta(name="twitter:card" content="summary_large_image")
    //- meta(name="twitter:site" content="")
    //- meta(name="twitter:creator" content="")
    //- meta(name="twitter:title" content="")
    //- meta(name="twitter:description" content="")
    //- meta(name="twitter:image" content="")

    link(rel="stylesheet", href="main.css")

  body
    include ./components/preloader
    include ./components/navigation

    .content#content(data-template=template)
      block content

    #canvas

    script(src="main.js")
