nav.navigation
  .navigation__wrapper
    a.navigation__logo.navigation__link(href="/") Album

    ul.navigation__list
      li.navigation__list__item
        a.navigation__list__link(href="/") Gallery

      li.navigation__list__item
        a.navigation__list__link(href="/about") About
